<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Necklace</display-name>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>NecklaceServlet</servlet-name>
        <servlet-class>ua.training.servlet.NecklaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NecklaceServlet</servlet-name>
        <url-pattern>/necklace</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CostCalculatorServlet</servlet-name>
        <servlet-class>ua.training.servlet.CostCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CostCalculatorServlet</servlet-name>
        <url-pattern>/costCalculator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WeightCalculatorServlet</servlet-name>
        <servlet-class>ua.training.servlet.WeightCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeightCalculatorServlet</servlet-name>
        <url-pattern>/weightCalculator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SorterServlet</servlet-name>
        <servlet-class>ua.training.servlet.SorterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SorterServlet</servlet-name>
        <url-pattern>/sorter</url-pattern>
    </servlet-mapping>
</web-app>
